
*.vsidx
*.testlog
/Travl/.vs
/Travl/src/Travl.Api/bin
/Travl/src/Travl.Api/obj
/Travl/src/Travl.Application/bin
/Travl/src/Travl.Application/obj
/Travl/src/Travl.Domain/bin
/Travl/src/Travl.Domain/obj
/Travl/src/Travl.Infrastructure/bin
/Travl/src/Travl.Infrastructure/obj
/Travl/tests/Travl.UnitTests/bin
/Travl/tests/Travl.UnitTests/obj